* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ^ This css selects all elements and sets their box-sizing,padding and margin ^ */
body {
    background-color: #d9dcd6;
 }  
/* ^ This css changes the background color of the body ^ */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* ^ This css changes the header padding,font type,background color and the color. ^ */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* ^ This css changes the h1 headers display and font size ^ */
header h1 .seo {
    color: #d9dcd6;
}
/* ^ This css changes the h1 .seo color ^ */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* ^ This css changes the header div padding,margin,font family,dont size and the float ^ */
header div ul {
    list-style-type: none;
}
/* ^ This css changes the header div ul list style type ^ */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* ^ This css changes the header div ul li display and margin ^ */
a {
    color: #ffffff;
    text-decoration: none;
}
/* ^ This css changes the a color and text decoration */
p {
    font-size: 16px;
}
/* ^ This css changes the p font size ^ */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url(./digital-marketing-meeting.jpg);}
 /* ^ this css changes the height,width,margin,background image size and position ^ */
.float-left {
    float: left;
    margin-right: 25px;
}
/* ^ This css changes the float-left class ^ */
.float-right {
    float: right;
    margin-left: 25px;
}
/* ^ This css changes the float right class ^ */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* ^ This css changes the content class width , display,and margin ^ */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* ^ This css changes the margin,padding, width,height ,font family, and background color that is inside CLASS benefits ^ */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* ^ This css changes the benefit-lead class ^ */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* ^ This css changes the benefit brand class ^  */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* ^ This css changes the benefit cost class ^*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* ^ This css changes the benefit lead h3 class ^ */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* ^ This css changes the benefit brand h3 class ^*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* ^ This css changes the benefit cost class ^ */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* ^ This css changes the benefit lead img class ^ */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* ^ This css changes the benefit brand img class ^ */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* ^ This css changes the benefit cost img class ^*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* ^ This css changes the search engine optimization class ^ */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* ^ This css changes the online reputation management class ^ */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* ^ This css changes the social media marketing class ^ */
.search-engine-optimization img {
    max-height: 200px;
}
/* ^ This css changes the search engine optimization img class ^ */
.online-reputation-management img {
    max-height: 200px;
}
/* ^ This css changes the online reputation management img class ^ */
.social-media-marketing img {
    max-height: 200px;
}
/* ^ This css changes the social media marketing img class ^*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* ^ This css changes the search-engine-optimization h2 class ^*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* ^ This css changes the online-reputation-management h2 class ^*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* ^ This css changes the social-media-marketing h2 class ^*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* ^ This css changes the footer class^ */
.footer h2 {
    font-size: 20px;
}
/* ^ This css changes the footer h2 class^ */